div.cabecalho{
	height: 200px;;
	color: #ffffff;
}

div.menu{
	font-size: 60px;
	font-family: Montserrat;
	padding-left: 25px;
	padding-top: 20px;
	color: #ff8080;
	width: 100%;
	text-align: center;

}

div.conteudo p{
	text-align: left;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 20px;
	padding-left: 25px;
	padding-top: 20px;
	width: 80%;
}

div.conteudo h1{
	padding-top: 10px;
	padding-left: 25px;
	text-align: auto;
	font-family: "Times New Roman", Times, serif;
	color: #ffffff;
	font-size: 50px;
}

div.conteudo h2{
	padding-top: 10px;
	padding-left: 25px;
	text-align: auto;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 40px;
}

body{
	background-image: url('../imgs/ah.jpg');
}

h2{
	padding-top: 10px;
	padding-left: 25px;
	text-align: auto;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 40px;
}

h3{
	font-size: 20px;
	text-align: auto;
	font-family: Montserrat;
	color: #ffffff;
}	
